<div class="jumbotron jumbotron-fluid footer">
  <div>
    <span>
      <a class="nostyle" href="https://www.facebook.com/boxtimes/">Facebook</a> |
      <a class="nostyle" href="https://www.youtube.com/channel/UCZ0CfLWbEUnzh8wEC1oARqQ">YouTube</a> |
      <a class="nostyle" href="/contact">Contact Us</a>
    </span>
  </div>
  <div class="copyrights">
    <span>(C) 2017 BOXTIMES ALL RIGHTS RESERVED.<span>
  </div>
</div>
