<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
      <li><a href="/" onclick="window.location.reload()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
      <li>/</li>
      <li><a href="/intro">2017 코치스 쓰로다운</a></li>
      <li>/</li>
      <li><a href="/calendar">일정</a></li>
      <li>/</li>
      <li><a href="/rules">예선 규정</a></li>
      <li>/</li>
      <li><a href="https://goo.gl/o8yUq5" target="_blank">사전 신청</a></li>
  </ul>
</nav>
