<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boxtimes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/png" href="/images/boxtimes-logo.png"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/javascript/jquery-ui.min.js"></script>
    <script src="/javascript/main.js" defer></script>
  </head>

  <body>
    {{> header }}
    <div class="body container-fluid">
      <div class="rules">
        <div class="rules-text">
          <img src="/images/booth.png">
          <div>
          01: 스텝 휴게소 A <br>
          02: 스텝 휴게소 B<br>
03: 대회 출입구<br>
04: 현장 운영국 A<br>
04: 입장 매표소 '반대쪽'<br>
05: 현장 운영국 B<br>
05: 입장 매표소 '반대쪽'<br>
06: 피플보드[FIFL]<br>
06: 선수/심판/스텝 '반대쪽'<br>
07: 스텝 대기실<br>
08: 심판 대기실<br>
09: 선수 대기실<br>

10: UTE SQUAD<br>
11: UTE SQUAD<br>
12: 선수 휴게소<br>
13: 남자 탈의실<br>
14: 여자 탈의실<br>
15: 리복 스토어<br>
16: 리복 스토어<br>
17: 리복 스토어<br>
18: 리복 스토어<br>

19: 타이어 플립 버피<br>
20: 내발네발 연결고리<br>
21: 해봤나 물컵 런지<br>
22: 예선전 트리플언더<br>
23: 코끼리코 메디신볼<br>
24: 이제 덤벨 익숙하지?<br>
25: 드루와 드루와 풀업<br>

26: 메디신볼 천하장사<br>
27: 핸드스탠드 킹왕짱<br>
28: 리밴드 코리아<br>
29: 씰(SEAL) 스토어<br>
30: 코모 엔터프라이즈<br>
31: 로잉과 스키<br>
32: 바이크와 러너<br>

33: 크로스핏 박스 A<br>
~<br>
56: 크로스핏 박스 W<br>

45: 리복 임직원 전용
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
