<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <title>Boxtimes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="/javascript/jquery-ui.min.js"></script>
    <script src="/javascript/animation.js"></script>
  </head>

  <body>
    <div class="container">
      {{> header }}
      {{> nav }}
      <iframe src="https://calendar.google.com/calendar/embed?src=coachesthrowdown2017%40gmail.com&ctz=Asia/Seoul" style="border: 0" width="100%" height="600px" frameborder="0" scrolling="no"></iframe>
    </div>
    {{> footer }}
  </body>
</html>
