<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boxtimes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="/javascript/jquery-ui.min.js"></script>
    <script src="/javascript/animation.js"></script>
  </head>

  <body>
    <div class="body container-fluid">
      {{> header }}
      {{> nav }}
      {{> poster }}
      <div class="video">
        <video controls>
          <source src="/media/COACHES_TEASER_0616.mp4" type="video/mp4">
        </video>
      </div>
      <div class="thumbnails">
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="thumb">
              <a href="/calendar"><img src="/images/calendar_thumb.jpeg"></a>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="thumb">
              <a href="/rules"><img src="/images/rules.jpeg"></a>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="thumb">
              <a href="https://goo.gl/o8yUq5"><img src="/images/registration.jpeg"></a>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="thumb">
              <a href="https://goo.gl/o8yUq5"><img src="/images/registration.jpeg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
