<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boxtimes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/png" href="/images/boxtimes-logo.png"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="/javascript/jquery-ui.min.js"></script>
  </head>

  <body>
    <div class="body container-fluid">
      {{> header }}
      {{> nav }}
      {{> poster }}
      <div class="intro-text">
          <h2>2017 리복 코치스 쓰로다운</h2>
<h3> 코치와 회원이 하나 되는 축제</h3>
<p>2017 리복 코치스 쓰로다운은 코치와 회원이 한 팀이 되어 서로 경쟁하는 국내 최대 규모의 크로스핏 대회입니다.</p>

<h3>예선. 패자부활전. 본선(결승)</h3>
<p>
  &bull; 예선 <br>
  예선은 온라인 영상 제출로 진행되며 총 3개의 이벤트로 구성됩니다. 이벤트 1, 2는 2017년 7월 24일에 공개하여 7월 30일까지 7일간 영상 제출 및 기록 입력을 완료해야 합니다. 이벤트 3은 7월 31일에 공개하여 8월 6일까지 영상 제출 및 기록 입력을 완료해야 합니다. 이후 이벤트 1, 2, 3의 순위를 모두 합산하여 최종 순위가 매겨지게 됩니다. 총 120팀(남 90팀, 여 30팀)이 본선으로 진출합니다.
</p>
<p>
  &bull; 패자부활전 <br>
  9월 9일 본선 당일 본선 이벤트에 앞서 예선에서 탈락한 팀을 대상으로 패자부활전 이벤트가 예정되어 있습니다. 패자부활전에서 다시 30팀이 선발됩니다. 앞서 예선을 먼저 통과한 120팀과 패자부활전을 통과한 30팀을 더하여 총 150팀이 본선에 진출하게 됩니다.
</p>
<p>
  &bull; 본선(결승) <br>
  본선 이벤트는 추후 공개이며, 순위 합산을 통해 결승 진출 팀을 선발합니다.
</p>

      </div>
      <div class="video">
        <iframe src="https://www.youtube.com/embed/Gy2DH8ibsNo">
        </iframe>
      </div>
    </div>
    {{> footer }}
  </body>
</html>
