body {
  min-height: 100vh;
}

.logo {
  text-align: center;
  margin: 20px auto;
  img {
    width: 100px;
    height: auto;
  }
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;

    li {
      display: inline-block;
      float:none;
    }
}

.goToTop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.body {
  min-height: 85vh;
}
.footer {
    height: 15vh;
    margin-bottom: 0;
    background-color: #000;

    p {
      text-align: center;
      color: #fff;
    }
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.poster {
  img {
    max-width: 100%;
    max-height: 100%;
  }
  margin-bottom: 5%;
}
.video {
  video {
    width: 100%;
    height: auto;
  }
  text-align: center;
  margin-bottom: 50px;
}

.calendar {
  width: 100%;
  height: auto;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.thumbnails {
  text-align: center;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: auto;
  }
}
